body {
    background-image: url(../img/xiaocaoshen.jpg);
    background-size: 110%;
    padding: 30px;
    opacity: 0.8;

    font-size: 20px;

    line-height: 1.6em;
    margin: 0.5cm 1cm;
}


.title {
    color: rgb(98, 182, 221);
    background-color: rgb(211, 221, 230);
    line-height: 2.5em;
    margin-bottom: 1.5em;
    text-align: center;

    padding: 5px;
}

.ps {
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgba(86, 124, 173, 0.863);
}

a:hover {
    color: rgb(45, 97, 238);
}

a:visited {
    color: rgba(86, 124, 173, 0.863);
}

.block {
    margin-top: 30px;
    border-left: 15px solid rgb(202, 187, 216);
}