body {
    background-image: url(https://i0.hdslb.com/bfs/article/e6de902c01fa41963873aee78d75f88361a4068f.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 24px;

    line-height: 1.6em;
    margin: 0.5cm 1cm;
}

button {
    border-radius: 10px;
    background: linear-gradient(to right, #8ce2f1, #108cd4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

#top_buttons {
    position: absolute;
    top: 55px;
    right: 10px;
}

.btn {
    font-size: 35px;
    padding: 18px 25px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.btn1 {
    font-size: 35px;
    padding: 15px 15px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.title {
    color: rgb(98, 182, 221);
    text-align: center;
    padding: 5px;
}

.title h1 {
    font-size: 3.5rem;
    color: #fff;
    background: linear-gradient(to right, #34bcfc, #4444ff);
    padding: 1rem 10rem;
    border-radius: 1rem;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ps {
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgba(86, 124, 173, 0.863);
}

a:hover {
    color: rgb(45, 97, 238);
}

a:visited {
    color: rgba(86, 124, 173, 0.863);
}

.block {
    margin-bottom: 80px;
    border-left: 15px solid rgb(168, 224, 250);
}