body{
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    color: rgb(98, 182, 221);
    background-color: rgb(211, 221, 230);
}

img{
    margin: auto;
}