body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;

    line-height: 1.35em;
    margin: 0.5cm 1cm;
}

.title {
    color: rgb(98, 182, 221);
    background-color: rgb(211, 221, 230);
    line-height: 3.5em;
    margin-bottom: 1.5em;
}

img {
    margin: 0cm 0.5cm;
}

.ps {
    font-size: 14px;
    text-align: center;
}