/*整体*/
body {
    background-image: url(../img/background/arona.png);
    background-size: 100%;
    padding: 30px;
    font-size: 20px;

    line-height: 1.6em;
    margin: 0.5cm 1cm;
}
/*按钮美化*/
button {
    border-radius: 10px;
    background: linear-gradient(to right, #8ce2f1, #108cd4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

#top_buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.submit-btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.title {
    color: rgb(98, 182, 221);
    background-color: rgb(211, 221, 230);
    line-height: 2.5em;
    margin-bottom: 1.5em;
    text-align: center;

    padding: 5px;
}

.boki {
    margin: 0 0.5cm;
}

.ps {
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgba(86, 124, 173, 0.863);
}

a:hover {
    color: rgb(45, 97, 238);
}

a:visited {
    color: rgba(86, 124, 173, 0.863);
}

.block {
    float: left;
    width: 25%;
    margin-top: 20px;
    border-left: 15px solid rgb(202, 187, 216);
    box-sizing: border-box;
}


.end {
    margin-top: 500px;
}

.bigblock {
    margin: 10px 20px 10px;
    opacity: 1.5;
}